<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="../../maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="../../ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="../../maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
#myHeader {
  background-color: lightblue;
  color: white;
  padding: 40px;
  text-align: center;
} 
</style>
</head>
<style>
body {
    /*background-image: url("/static/assets/images/bu.jpg");*/
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover; 
    background-color: hsla(89, 43%, 51%, 0.3);
    
    
}
</style>
<body>

<h1 id="myHeader">APPLICATION FORM</h1>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
-->

<h3 style="padding-left: 50px;">NOTE: Certified copies of academic transcript, copies of both ‘0’ level and ‘A’ level result slips/Certificates, valid identification (driving permit, passport, current employer ID card or ID card from your previous institution) should be attached to this form. We shall need the originals of the above copies at registration.</h3>
<form>
<h3 style="padding-left: 50px;">Study Location</h3>
<div style="padding-left: 50px;" class="input-group mb-3">
    <!--<label class="input-group-text" for="inputGroupSelect01">Study Location</label>-->
    <select class="form-select" id="inputGroupSelect01">
      <option selected>Choose...</option>
      <option value="1">Main Campus</option>
      <option value="2">Kampala Campus</option>
      <option value="3">Mbale Campus</option>
      <option value="3">Arua Campus</option>
      <option value="3">Kasese Campus</option>
    </select>
</div>

<h3 style="padding-left: 50px;">Study Time</h3>
<div style="padding-left: 50px;" class="input-group mb-3">
    <!--<label class="input-group-text" for="inputGroupSelect01">Study Time</label>-->
    <select class="form-select" id="inputGroupSelect01">
      <option selected>Choose...</option>
      <option value="1">Day - Kampala Campus</option>
      <option value="2">Regular - Main Campus</option>
      <option value="3">Evening</option>
      <option value="3">In-Service - Holiday</option>
      <option value="3">Weekend - Master</option>
    </select>
</div>

<h3 style="padding-left: 50px;">Select Level</h3>
<div style="padding-left: 50px;">
<input style="padding-left: 50px;" type="radio" name="level">Undergraduate<br>
<input style="padding-left: 50px;" type="radio" name="level">Postgraduate<br>
<h3 style="padding-left: 50px;">Applicants Personal Information</h3>
</div>

<div style="padding-left: 50px;" class="input-group flex-nowrap">
    <span style="padding-left: 50px;" class="input-group-text" id="addon-wrapping">Sur Name</span>
    <input style="padding-left: 50px;" type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="addon-wrapping">
</div>
</br>
<div style="padding-left: 50px;" class="input-group flex-nowrap">
    <span style="padding-left: 50px;" class="input-group-text" id="addon-wrapping">Other Names</span>
    <input style="padding-left: 50px;" type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="addon-wrapping">
</div>

<h3 style="padding-left: 50px;">Select Courses</h3>
<div style="padding-left: 50px;" class="dropdown">
  <button style="padding-left: 50px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Select Courses
  </button>
  <ul style="padding-left: 50px; "class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <input style="padding-left: 50px;"  type="checkbox" value="" href="#">Action<br/>
    <input style="padding-left: 50px;"  type="checkbox" value="" href="#">Action<br/>
    <input style="padding-left: 50px;"  type="checkbox" value="" href="#">Action<br/>
  </ul>
  <input style="padding-left: 50px;"  type="text" id="text" readonly />
  <input style="padding-left: 50px;"  type="submit" value="insert courses(S)" class="btn btn-secondary"/>
</div>



<h3 style="padding-left: 50px;">Gender</h3>
<div style="padding-left: 50px;">
<input style="padding-left: 50px;" type="radio" name="gender">Male<br>
<input style="padding-left: 50px;" type="radio" name="gender">Female<br>
</div>


<h3 style="padding-left: 50px;">Date Of Birth</h3>
<div style="padding-left: 50px;">
<div style="padding-left: 50px;" class="input-group flex-nowrap"></div>
    <input style="padding-left: 50px;" type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="addon-wrapping">
</div>
</div>

<h3 style="padding-left: 50px;">Nationality</h3>
<div style="padding-left: 50px;">
<div style="padding-left: 50px;" class="input-group flex-nowrap"></div>
    <input style="padding-left: 50px;" type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="addon-wrapping">
</div>
</div>

<h3 style="padding-left: 50px;">Country Of Residence</h3>
<div style="padding-left: 50px;">
<div style="padding-left: 50px;" class="input-group flex-nowrap"></div>
    <input style="padding-left: 50px;" type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="addon-wrapping">
</div>
</div>

<h3 style="padding-left: 50px;">Telephone Number</h3>
<div style="padding-left: 50px;">
<div style="padding-left: 50px;" class="input-group flex-nowrap"></div>
    <input style="padding-left: 50px;" type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="addon-wrapping">
</div>
</div>

<h3 style="padding-left: 50px;">Email</h3>
<div style="padding-left: 50px;">
<div style="padding-left: 50px;" class="input-group flex-nowrap"></div>
    <input style="padding-left: 50px;" type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="addon-wrapping">
</div>
</div>

<h3 style="padding-left: 50px;">Alternative Contact</h3>
<div style="padding-left: 50px;" class="input-group flex-nowrap">
    <span style="padding-left: 50px;"class="input-group-text" id="addon-wrapping">Name</span>
    <input style="padding-left: 50px;" type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="addon-wrapping">
</div>

<h3 style="padding-left: 50px;">Academics</h3>
<h4 style="padding-left: 50px;">Attach a scanned copy of the UCE certificate or equivalent</h4>
<div style="padding-left: 50px;"class="mb-3">
    <input style="padding-left: 50px;" class="form-control" type="file" id="formFile">
</div>

<h4 style="padding-left: 50px;">Attach a scanned copy of the UACE certificate or equivalent</h4>
<div style="padding-left: 50px;"class="mb-3">
    <input style="padding-left: 50px;" class="form-control" type="file" id="formFile">
</div>

<h4 style="padding-left: 50px;">Other relevant qualifications</h4>
<div style="padding-left: 50px;"class="mb-3">
    <input style="padding-left: 50px;" class="form-control" type="file" id="formFile">
</div>
<div style="padding-left: 50px;">
<h4 style="padding-left: 50px;">Where did you learn about Bugema University?</h4>
<input style="padding-left: 50px;" type="radio" name="where">Social Media<br>
<input style="padding-left: 50px;" type="radio" name="where">Search Engine<br>
<input style="padding-left: 50px;" type="radio" name="where">Email<br>
<input style="padding-left: 50px;" type="radio" name="where">Flyers<br>
<input style="padding-left: 50px;" type="radio" name="where">Radio<br>
<input style="padding-left: 50px;" type="radio" name="where">Magazine<br>
<input style="padding-left: 50px;" type="radio" name="where">Event<br>
<input style="padding-left: 50px;" type="radio" name="where">Personal Reference<br>
<input style="padding-left: 50px;" type="radio" name="where">Agent<br>
<input style="padding-left: 50px;" type="radio" name="where">Media 7<br>
<input style="padding-left: 50px;" type="radio" name="where">Other<br>
<br>
<br>
</div>

<div style="padding-left: 50px;" class="my-button">
    <input class="btn btn-primary" type="submit" value="Submit">
</div>

</form>
</body>
</html>