{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>School Website</title>
    
    <!-- Bootstrap core CSS -->
    <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static '/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/owl.css">
    <link rel="stylesheet" href="{% static '/assets/css/lightbox.css' %}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7575984816681478"
     crossorigin="anonymous"></script>
    
<!--
    
TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  </head>

<body>

   
   <!--header-->
   <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#">BUGEMA UNIVERSITY</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="has-submenu"><a href="#section2">About Us</a>
        <li class="#section2"><a href="{% url 'application' %}">Apply Now</a>
        </li>
          <ul class="sub-menu">
            <li><a href="#section2">Who we are?</a></li>
            <li><a href="#section3">What we do?</a></li>
            <li><a href="#section3">How it works?</a></li>
          </ul>
        </li>
        <li class="has-submenu"><a href="#">Academics</a>
          <ul class="sub-menu">
            <li style="text-align: center;"><a href="{% url 'graduation' %}">School Of Graduate Studies</a></li>
            <li style="text-align: center;"><a href="{% url 'business' %}">School Of Business</a></li>
            <li style="text-align: center;"><a href="{% url 'Computing' %}">School Of Computing & Informatics</a></li>
            <li style="text-align: center;"><a href="{% url 'education' %}">School Of Education</a></li>
            <li style="text-align: center;"><a href="{% url 'health' %}">School Of Health Sciences</a></li>
            <li style="text-align: center;"><a href="{% url 'social' %}">School Of Social Sciences</a></li>
            <li style="text-align: center;"><a href="{% url 'theology' %}">School Of Theology And Religious Studies</a></li>
            <li style="text-align: center;"><a href="{% url 'growth' %}">School Of Graduate Professional Growth</a></li>
            <li style="text-align: center;"><a href="{% url 'research' %}">School Of Intensive Research</a></li>
          </ul>
        </li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a href="#section6">Contact</a></li>
      </ul>
    </nav>
      <div class="title">
        <h2>SCHOOL OF COMPUTING </br>& INFORMATICS</h2>
      </div>
  </header>

  <section id="content">
    <div class="read">
      <h2>VIEW POINT</h2>
      <p>
        Welcome to the Bugema University School of Computing and Informatics (SCI). The schools was upgraded from the department of Information Technology established 25 years ago under the School of Business. The SCI has evolved to offer both undergraduate and graduate programs that are demand driven and IT industry focused, and encourages collaborative multidisciplinary research. The faculty and students in the SCI are actively engaged in computer and information science research and development through computer laboratory projects, community projects and industrial placements.  The SCI believes in developing the mind through critical thinking to enhance innovation among faculty, staff and students.</br></br>

        The world ecosystems are faced with complex challenges that demand no-traditional integrative thinking between computer scientists, data and information scientists, social scientists and other domain experts. The SCI prepares professionals that can harness the potentials of computer and information sciences to provide relevant solutions. The SCI faculty and students are engaged in ongoing research projects and development of computer solutions in the areas of education, health, public administration, information management, ecommerce, and agriculture. The undergraduate and graduate programs offered in both Blended and Online Learning environments focus on Information Systems, Computer Networks Security and Systems Engineering,</br></br>

        Whether you are a prospective or continuing student, a prospective industrial partner, may be an academician, you are warmly welcome to explore the content on these pages. The information provided will enrich your understanding of the SCI activities in relation to programs, research, project, collaborations and community engagements.</br></br>

        <b>Vision</b>: To create research-based expertise that enables modeling real-life computer technology solutions to enhance decision making and systems engineering.</br></br>

        <b>Mission:</b> To engage in computer and information science research and training that promote  engineering of multi-disciplinary technological solutions responsive to various    community needs.

      </p>
      <h3>THE MISSION IS ACHIEVED THROUGH:</h3>
      <P>
        <ol type="1">
          <li>Offering computer industry oriented and demand driven programs to equip students with the theoretical knowledge and practical skills, necessary for analyzing and solving economic, social, and development problems.</li>
          <li>Providing a conducive environment that promoted critical thinking and collaborative research work.</li>
          <li>Strengthening relationships with both public and private organisations.</li>
          <li>Establishing and managing collaborations with reputable national, regional and international higher institutions of learning.</li>
          <li>Prioritize and promoting community and organization targeted projects</li>
        </ol>
      </P>
      <h4>DEPARTMENT</h4>
      <p>The School of Computing and Informatics provides an environment for the faculty, staff and students to develop a strong character of integrity, academic honesty, respect, accountability and spiritual uprightness.
        <ol type="1">
          <li>Information Systems</li>          
          <li>Systems Engineering</li>
          <li>Computer Networks Security</li>
        </ol>
      </p>
      <h5>PROGRAM'S DURATION</h5>
      <p>All degree programs offered at undergraduate take three years, Diploma programs take two years. However, international students who are required to take four years, may be requested to complete a Higher Education certificate for one year before joining the main degree program. All graduate degree programs take two years, and the Post graduate diploma take one and half years.
      </p>
      <h6>INTAKES</h6>
      <p>
        The School has three intakes in any given academic year.
        August Intake (Starting of the academic year)
        January Intake
        May Intake
        Applications are Ongoing. Apply<a href="{% url 'application' %}">:https://bugemauniv.ac.ug/application-form/</a>
      </p>
    </div>
  </section>

  <section id="courses">
    <div class="course-text">
        <p>COURSES</p>
        <div class="course-box">
            <div class="single-course">
                <img src="{% static '/assets/images/computing.jpg' %}">
                <div class="overlay"></div>
                <div class="course-desc">
                    <h3>Certificate in Information Technology(UBTEB Cirriculum)</h3>
                    <hr>
                    <p><b>SCHOOL OF COMPUTING & INFORMATICS (SOCI) Viewpoint The School of Computing & Informatics believes in developing the mind through critical thinking skills to enhance innovation</b></p>
                </div>
                <div class="text-button-info">
                    <a href="#"><b>More Details</b><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="single-course">
                <img src="{% static '/assets/images/COMPSCIE.jpg' %}">
                <div class="overlay"></div>
                <div class="course-desc">
                    <h3>Bachelor of Science in Computer Engineering</h3>
                    <hr>
                </div>
                <div class="text-button-info">
                    <a href="#"><b>More Details</b><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="single-course">
                <img src="{% static '/assets/images/postit.jpg' %}">
                <div class="overlay"></div>
                <div class="course-desc">
                    <h3>Post Graduate Diploma in Information Technology (PGDIT)</h3>
                    <hr>
                </div>
                <div class="text-button-info">
                    <a href="#"><b>More Details</b><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="single-course">
                <img src="{% static '/assets/images/MasterIT.jpg' %}">
                <div class="overlay"></div>
                <div class="course-desc">
                    <h3>Master of Science in Information Technology</h3>
                    <hr>
                    <p><b>The programme will be taken by those students whose first degree is in IT/computer Science or related area Curriculum Structure for Post Graduate Diploma in IT</b></p>
                </div>
                <div class="text-button-info">
                    <a href="#"><b>More Details</b><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="single-course">
                <img src="{% static '/assets/images/SE.jpg' %}">
                <div class="overlay"></div>
                <div class="course-desc">
                    <h3>Bachelor of Science in Software Engineering</h3>
                    <hr>
                    <p><b>Curriculum Structure for Software Engineering Option Major/Core Course</br>                                                            
                        27 Cognates</br>                                                                             
                        12 Research and Thesis</br>                                                              
                        15 Crosscutting Courses</br>                                                           
                        06 Total</b>
                    </p>
                </div>
                <div class="text-button-info">
                    <a href="#"><b>More Details</b><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="single-course">
                <img src="{% static '/assets/images/Lib.jpg' %}">
                <div class="overlay"></div>
                <div class="course-desc">
                    <h3>Bachelor of Library and Information Science</h3>
                    <hr>
                    <p><b>Bachelor of Library & Information Science (BLIS) is a 3-year duration undergraduate course in Library Science. In Bachelor of Library & Information Science course, students</b></p>
                </div>
                <div class="text-button-info">
                    <a href="#"><b>More Details</b><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="single-course">
                <img src="{% static '/assets/images/bus.jpg' %}">
                <div class="overlay"></div>
                <div class="course-desc">
                    <h3>Bachelor of Business Computing</h3>
                    <hr>
                    <p><b>Bachelor of Business Computing is designed to equip students with skills in electronic computer fundamentals, problem solving and the application of computing in business.</b></p>
                </div>
                <div class="text-button-info">
                    <a href="#"><b>More Details</b><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="single-course">
                <img src="{% static '/assets/images/NETWORK.jpg' %}">
                <div class="overlay"></div>
                <div class="course-desc">
                    <h3>Bachelor Of Science In Network Systems Administration</h3>
                    <hr>
                    <p><b>Bachelor of Business Computing is designed to equip students with skills in electronic computer fundamentals, problem solving and the application of computing in business.</b></p>
                </div>
                <div class="text-button-info">
                    <a href="#"><b>More Details</b><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
          <div class="social">
            <h6>Follow us</h6>
            <a class="list__item-link list__item-link_facebook" href="https://www.facebook.com/bugemauniv.ac.ug/?_rdc=1&amp;_rdr" target="_blank"><i class="fa fa-facebook"></i> </a>
            <a class="list__item-link list__item-link_twitter" href="https://twitter.com/UnivBugema" target="_blank"><i class="fa fa-twitter"></i> </a>
            <a class="list__item-link list__item-link_instagram" href="https://www.instagram.com/univbugema" target="_blank"><i class="fa fa-instagram"></i> </a>
            <a class="list__item-link list__item-link_youtube" href="https://www.youtube.com/channel/UCNbb7bqAyDBt1AqvKuCQihQ/featured" target="_blank"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
          <p><i class="fa fa-copyright"></i> Copyright 2020 by SamTech
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static '/assets/js/isotope.min.js' %}"></script>
    <script src="{% static '/assets/ts/js/owl-carousel.js' %}"></script>
    <script src="{% static '/assets/js/lightbox.js' %}"></script>
    <script src="{% static '/assets/js/tabs.js' %}"></script>
    <script src="{% static '/assets/js/video.js' %}"></script>
    <script src="{% static '/assets/js/slick-slider.js' %}"></script>
    <script src="{% static '/assets/js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        /*$('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
          if($(e.target).hasClass('external')) {
            return;
          }
          e.preventDefault();
          $('#menu').removeClass('active');
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });*/
    </script>
</html>
</body>


 
