{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bugema E-learning</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static '/assets/css/styles.css' %}" rel="stylesheet" />

        
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Welcome to Bugema E-learning Platform</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Courses
                          </a>
                          <div class='dropdown-menu'>
                            <a class="dropdown-item" href="#">{{coure.title}}</a>
                          </div>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Login
                          </a>
                          <div class='dropdown-menu'>
                            <a class="dropdown-item" href="{% url 'login' %}">Administration</a>
                            <a class="dropdown-item" href="#">Staff</a>
                            <a class="dropdown-item" href="#">Student</a>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                       
                        <hr class="divider" />
                    </div>
                   
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">WHY BUGEMA UNIVERSITY</h2>
                        <hr class="divider divider-light" />
                        
                        <p style="text-align: justify; "class="text-white-75 mb-4">
                        Bugema University holds accreditation from the Adventist Accrediting Association<br>
                        based in Maryland, USA. (AAA) and chartered by the Republic of Uganda through the National Council of Higher Education, as an institution of higher learning.<br><br>
                        The University has a quality assurance system which delineates self-regulating and self-maintaining procedures to maintain standards of excellence in academic delivery and performance.<br><br>
                        The mission of Bugema University is to offer an excellent and distinctive holistic Christian education designed to prepare students, through training, research, and scholarship, for productive lives of useful service to God and to the community with integrity, honesty and loyalty.
                        </p>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">COURSES</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Blended Learning</h3>
                            <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">ICT Support And Procedure Manual</h3>
                            <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Online Exams, Rules And Regulations</h3>
                            <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% url 'education' %}" title="Project Name">
                            <img class="img-fluid" src="{% static '/assets/images/portfolio/thumbnails/1.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Educational Studies</div>
                                <div class="button">View Courses</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% url 'business' %}" title="Project Name">
                            <img class="img-fluid" src="{% static '/assets/images/portfolio/thumbnails/2.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Business Studies</div>
                                <div class="project-name">View Courses</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% url 'social' %}" title="Project Name">
                            <img class="img-fluid" src="{% static '/assets/images/portfolio/thumbnails/3.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Social Sciences</div>
                                <div class="project-name">View Courses</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% url 'research' %}" title="Project Name">
                            <img class="img-fluid" src="{% static '/assets/images/portfolio/thumbnails/4.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Natural Sciences</div>
                                <div class="project-name">View Courses</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% url 'Computing' %}" title="Project Name">
                            <img class="img-fluid" src="{% static '/assets/images/portfolio/thumbnails/5.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Computer Sciences</div>
                                <div class="project-name">View Courses</div>
                            </div>
                        </a>
                    </div>
                
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% url 'theology' %}" title="Project Name">
                            <img class="img-fluid" src="{% static '/assets/images/portfolio/thumbnails/6.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Theological Studies</div>
                                <div class="project-name">View Courses</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% url 'health' %}" title="Project Name">
                            <img class="img-fluid" src="{% static '/assets/images/portfolio/thumbnails/6.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Health Sciences</div>
                                <div class="project-name">View Courses</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% url 'graduation' %}" title="Project Name">
                            <img class="img-fluid" src="{% static '/assets/images/portfolio/thumbnails/6.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Graduate Studies</div>
                                <div class="project-name" >View Courses</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
       
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="social">
              <h6>Follow us</h6>
              <a class="list__item-link list__item-link_facebook" href="https://www.facebook.com/bugemauniv.ac.ug/?_rdc=1&amp;_rdr" target="_blank"><i class="fa fa-facebook"></i> </a>
              <a class="list__item-link list__item-link_twitter" href="https://twitter.com/UnivBugema" target="_blank"><i class="fa fa-twitter"></i> </a>
              <a class="list__item-link list__item-link_instagram" href="https://www.instagram.com/univbugema" target="_blank"><i class="fa fa-instagram"></i> </a>
              <a class="list__item-link list__item-link_youtube" href="https://www.youtube.com/channel/UCNbb7bqAyDBt1AqvKuCQihQ/featured" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
    
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - SamTech</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
         <!-- jQuery -->
        <script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
        <!-- Bootstrap 4 -->
        <script src="{% static '/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static '/dist/js/adminlte.min.js' %}"></script>

        
    </body>
</html>
